@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Oswald';

html, body {
	/* reset margin, padding*/
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body {
	background: #621BF3;
	color: #67727A;
	font-family: 'Alegreya', sans-serif;
	margin: 0;
}
.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(../img/gaming-banner.png);
	display: table;
	top: 0;
	background-size: cover;
	background-position: center;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	font-family: 'Raleway', sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 500%;
}
.btn {
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #4cff00;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #4cff00 3px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	color: #ffff00;
	border: solid #ffff00 3px;
}
@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}
}
h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%; 
	color: #F5F5F5;
}
h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
	color: #F5F5F5;
}
p {
	font-family: 'Alegreya Sans', sans-serif;
	color: #F5F5F5;
	font-size: 150%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header {
	background-color: #621bf3;
	width: 100%;
	height: 86px;
}
#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}
/*logo for desktop version site*/
#logo {
	margin: 10px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(../img/logo.png) no-repeat center;
}
nav {
	float: center;
	padding: 25px 20px 0 0;
}
/*nav icon for mobile version hidden on desktop version*/
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(../img/nav.png) center;
}
/*nav icon for mobile version*/
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
ul {
	list-style-type: none;
}
/*
nav ul {
	position: fixed;
	width: 50%;
	display: flex;
	justify-content: space-between;
}
*/

/*nav items*/
nav ul li {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 150%;
	display: flex;
	float: left;
	padding: 10px;
}
/*nav item text colour*/
nav ul li a {
	color: white;
	text-decoration: none;
}
/*nav item hover text colour*/
nav ul a:hover {
	color: yellow;
}
.current {
	color: #C3D7DF;
}
.banner {
	width: 100%;

}
.banner-inner {
	margin: 0 auto;
}
.one-fourth {
	width: 33.3%;
	float: left;
	text-align: center;
}
#html {
	background-color: #F1AA90;
}
#css {
	background-color: #BEB9AD;
}
#test {
	background-color: #AADCD2;
}
/*------LIVE FOR SPEED START-------*/
.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #C3D7DF;
}
article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
#lfs {
	background-color: #C3D7DF;
}
aside {
	float: right;
	margin: auto;
	width: 50%;
	height: auto;
}
#lfs2 {
	background-color: #A2B1C1;
}
/*------LIVE FOR SPEED END-------*/

/*------OVERWATCH START-------*/
#overwatch {
	background-color: #BEB9AD;
}
.inner-wrapper-2 {
	float: left;
	width: 100%;
	background-color: #BEB9AD;
}
/*this is to put the Overwatch image more towards the center*/
.overwatch2 {
	position: relative;
}
/*------OVERWATCH END-------*/

.inner-wrapper-3 {
	float: left;
	width: 100%;
	background-color: #C47794
}
/*Gaming Controller, Mouse and Keyboard, Computer Monitor*/
.one-third {
	width: 33.3333%;
	float: left;
	text-align: center;
}
#game-pad {
	background-color: #A2B1C1;
}
#mouse-keyboard {
	background-color: #BEB9AD;
}
#computer-monitor {
	background-color: #AADCD2;
}
#controller-icon {
	background-color: #AADCD2;
	padding: 0 0 1%;
}
/* SOCIAL MEDIA FOOTER START */
footer {
	background-color: #6991AC;
	margin-top: -2%;
	width: 100%;
}
.social {
	list-style-type: none;
	text-align: center;	
}
.social li {
	display: inline;
}
/*social media icons*/
.social i {
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #C3D7DF;
}
/*social media icons in footer color and transition effect*/
.social i:hover {
	color: #FFFFFF;
	transition: 0.5s;
}
/*SOCIAL MEDIA FOOTER END*/

/*COPYRIGHT FOOTER START*/
footer.second {
	border-top: 1px solid #AADCD2;
	background-color: #544B59;
	text-align: center;
	margin-bottom: 0%;
}
footer.second.p {
	padding: 5px 0 9px 0;
	text-align: center;
}
/*COPYRIGHT FOOTER END*/

/*Media breakpoint for other devices such as tablets or mobiles phones*/
@media screen and (max-width: 768px) {
	h2 {
		font-size: 150%;
	}
	h3 {
		font-size: 125%;
	}
	p {
		font-size: 120%;
	}
	header {
		position: absolute;
	}
	#logo {
		margin: 15px 0 20px -25px;
		background: url(../img/logo.png) no-repeat center;
	}
	#menu-icon {
		display: inline-block;
		float: right;
	}
	nav ul, nav:active ul {
		display: none;
		z-index: 1;
		position: absolute;
		padding: 0px;
		background: #6991AC;
		margin-right: 20px;
		margin-top: 60px;
		border: 3px solid #FFF;
		border-radius: 10px 0 10px 10px;
		width: 50%;
	}
	nav:hover ul {
		display: block;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
	}
	.one-fourth {
		float: left;
		width: 100%
	}
	.one-fourth i {
		font-size: 350%;
		padding: 4% 0 1% 0;
	}
	article {
		width: 100%;
	}
	aside {
		width: 100%;
	}
	.overwatch2 {
		display: none;
	}
	.one-third {
		width: 100%;
	}
	.social i {
		font-size: 180%;
	}
}