@import 'https://fonts.google.com/specimen/Alegreya+Sans';

* {
	/* reset margin, padding and border*/
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: #F5F5F5;
	color: #67727A;
	font-family: 'Alegreya', sans-serif;
	margin: 0;
}
h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%; 
}
h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
}
p {
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header {
	background-color: #c41153;
	width: 100%;
	height: 86px;
}
#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}
/*logo for desktop version site*/
#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(../img/logo.png) no-repeat center;
}
nav {
	float: center;
	padding: 25px 20px 0 0;
}
/*nav icon for mobile version*/
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(..img/nav.png) center;
}
/*nav icon for mobile version*/
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
ul {
	list-style-type: none;
}
/*nav items*/
nav ul li {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}
/*nav item text colour*/
nav ul li a {
	color: white;
	text-decoration: none;
}
/*nav item hover text colour*/
nav ul a:hover {
	color: yellow;
}
.current {
	color: #C3D7DF;
}